# Node modules directory
node_modules/

# Vite development server and build output
.vite/

# Logs
logs/
*.log

# Dependency directories (for yarn or npm)
.pnp/
.pnp.js

# IDE and editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Environment variable files
.env
.env.local
.env.*.local
